.dashboard {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    margin: 15px;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: .9rem;
}

.recent-commits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
}

.commit {
    grid-template-rows: auto;
    padding-bottom: 12px;
}

.commit-row {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-bottom: 5px;
}

.lighter {
    font-weight: lighter;
}