.dashboard {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    margin: 15px;
}

.recent-commits {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
}

.commit {
    padding-top: 15px;
}

.bold {
    font-weight: bold;
}